<section class="phx-hero">
  <h1>I'm a Gong</h1>



<div class="gong" phx-click="gong">
  <%= if @ringing do %>
    <img class="<%= @button_class %>" src="/images/gong-struck.png">
  <% end %>
  </div>

  <div style="display: hidden;" id="sound-fx">
    <%= for sound <- @sounds do %>
      <%= SeptaGong.SoundEffectRenderer.render(sound) %>
    <% end %>
  </div>

</section>
