<section class="phx-hero">
  <h1>I'm a Gong</h1>

<a href="#" phx-click="gong">
<div class="gong">
  <%= if @ringing do %>
    <img class="<%= @anim_class %>" src="/images/gong-struck.png">
  <% end %>
  </div>

  <div style="display: hidden;" id="sound-fx">
    <%= for sound <- @sounds do %>
      <%= SeptaGong.SoundEffectRenderer.render(sound) %>
    <% end %>
  </div>
</a>

</section>
